html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	outline: none;
}

body {
	border-top: 6px solid #7e7e7e;
	background: url(../images/bg.png);
}




main{
	margin: 0 auto;
	max-width: 960px;
}


.logo{
	margin: 27px 0 20px 0;
	float: left;
	
}
.search_form{
	margin: 27px 0 20px 0;
	float: right;	
	display: flex;
    justify-content: center;
    height: 32px;

}

.search_bt{
	cursor: pointer;	
	width: 42px;
	font: 14px Oswald, sans-serif;
	color: #fefefe;
	border: none;
	background-color: #29c5e6;
}

.search_input{
	border: 1px solid #dbdbdb;
	width: 158px;
	font: 12px Tahoma, sans-serif;;
	background: #f3f3f3;
	padding: 0 10px;
	box-sizing: border-box;
}
.top-block:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu{
	border: 1px solid #e7e7e7;
	display: flex;
	box-sizing: border-box;
}
.top-list{
	text-align: center;
	font: bold 14px Oswald, sans-serif;
	background-color: #f3f3f3;
	width: 50%;
	
}
.top-list:hover {
	transition: 0.6s;
	background: #29c5e6;
	color: #fff;
}
.top-list:hover a{
	transition: 0.6s;
	color: white;
}
.top-menu a {
	text-transform: uppercase;
	color: #b2b2b2;
	display: block;
	text-decoration: none;
	line-height: 40px;
}

.about{
	background: url(../images/about1.png);
	margin-top: 26px;
}

.about p{
	background: url(../images/bg.png);
	display: inline-block;
	font-size: 44px; 
	font-family: 'Oswald', sans-serif;
	color: #7e7e7e;
	padding: 0 7px;
	margin-left: 20px;
}
header{
	margin-bottom: 26px;
}
.side-menu{
	display: inline-block;
	vertical-align: top;
}
.side_menu_list{
	width: 250px;
}



.side_list{
	width: 100%;
	position: relative;
	padding-left: 31px;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	box-sizing: border-box;
}


.side_menu_text {
	text-transform: uppercase;
	text-decoration: none; 
	font: bold 14px Oswald, sans-serif;
	color: #8f8f8f;
	line-height: 40px;
	display: block;
}
.side_list:before{
	background: #7e7e7e;;
	content: '';
	height: 8px;
	width: 8px;
	position:absolute;
	left: 12px;
	top: 16px; 
} 
.side_list:hover .side_menu_text {
	color: #29c5e6;
}
.side_list:hover:before{
	background: #29c5e6;
}
.menu_block{
	margin-top: 15px;
}
.menu_block h3{
	padding: 13px 11px;
	background-color: #29c5e6;
	font: 14px 'Oswald', sans-serif;;
	color:#ffffff;
}
.menu_block img{
	padding: 10px;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}

.content{
	margin-left: 26px;
	width: 680px;
	display: inline-block;
}
.banner{
	background-color: #29c5e6;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 15px;
}
.banner h3{
	font-style: italic;
	text-transform: uppercase;
	font-size: 33px;
	color: #ffffff;
	padding: 19px 30px 0px 22px;
	line-height: 34px;
}
.banner p {
	font-size: 20px;
	color: #1d8ea6;
	text-align: right;
	padding: 9px 36px 14px 0px;
}

.main_text {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;;
	line-height: 18px;
}
.main_text p {
	margin-bottom: 15px;
}
.main_text img {
	max-width: 100%;
}

.second_banner{	
	color: #fff;
	background-color: #29c5e6;
	margin-top: 25px;
	margin-bottom: 20px;	
}
.second_banner h2{
	font:  30px 'Oswald', sans-serif;;
	line-height: 40px;
	padding-left: 9px;
}
.images_block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.foto_block{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.fotos{
	margin-bottom: 17px;

}
.foto_block	p {
	font: 14px 'Oswald', sans-serif;;
	font-weight: bold;
	line-height: 30px; 
	color: #8f8f8f;
}
.foto_block span{
	font: 14px 'Oswald', sans-serif;;
	line-height: 20px;
	color: #29c5e6;
}
footer{
	margin-top: 10px;
	background-color: #7e7e7e;
	padding-bottom: 14px;
	padding-top: 14px;
	height: 120px;
}
.footer_content{
	width: 960px;
	margin: 0 auto;
}

.tw_feed{
	display:inline-block;
	width: 301px;
	margin-right: 19px;
}
footer h2{
	color: #fff;
	font: 14px 'Oswald', sans-serif;;
	border-bottom: 1px solid #919191;
	margin-bottom: 5px; 
}
footer span{
	color:  #b4aeae;
	font: 11px Tahoma;;
	font-weight: 400;
	line-height: 14px;
	text-decoration: underline;
}
footer p{
	color:  #dbdbdb;
	font: 11px Tahoma;;
	font-weight: 400;
	line-height: 14px;
	margin-top: 7px;
	margin-bottom: 0;
}

.site_map{
	display:inline-block;
	vertical-align: top;
	width: 151px;
	margin-right: 18px;
}
.site_map a {
	text-decoration: none;
	font: 12px Tahoma, sans-serif;;
	color: #dbdbdb;
	line-height: 18px;
}
.site_map li{
	list-style-type: none;
}
.site_map ul{
	display: inline-block;
	width: 73px;	
}
.social{
	display: inline-block;
	vertical-align: top;
	width: 131px;
}
.top_images{
	margin-top: 11px;
	display: flex;
	justify-content: space-between;
}
.bottom_images{
	margin-top: 7px;
	display: flex;
	justify-content: space-between;
}
.footer_logo{
	margin-top: 30px;
	display: inline-block;
	float: right;
}
.sprite1{
	background: url(../images/sprite1.png);
	width: 30px;
	height: 31px;
	background-position: -30px 0px; 
}
.sprite2{
	background: url(../images/sprite1.png);
	width: 30px;
	height: 31px;
}
.sprite3{
	background: url(../images/sprite1.png);
	width: 30px;
	height: 31px;
	background-position: -60px 0px; 
}
.m_sprite1{
	background: url(../images/sprite2.png);
	width: 16px;
	height: 16px16;
	background-position: 0px 0px; 
}
.m_sprite2{
	background: url(../images/sprite2.png);
	width: 16px;
	height: 16px;
	background-position: -16px 0px; 
}
.m_sprite3{
	background: url(../images/sprite2.png);
	width: 16px;
	height: 16px;
	background-position: -32px 0px; 
}
.m_sprite4{
	background: url(../images/sprite2.png);
	width: 16px;
	height: 16px;
	background-position: -48px 0px; 
}
.m_sprite5{
	background: url(../images/sprite2.png);
	width: 16px;
	height: 16px;
	background-position: -64px 0px; 
}
